<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Insert title here</title>
  </head>
  <body>
    <i class="fa fa-comments" aria-hidden="true"></i>
    <div class="chat">
      <div class="chat-header">
        <div class="chat-profile"></div>
        <div class="chat-title">Mung Ha Nyang</div>
        <div class="chat-btn">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
      </div>
      <div class="chat-container"></div>
    </div>
  </body>
</html>
