<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Insert title here</title>
  </head>
  <body>
    <header>
      <div class="header-nav">
        <img src="/upload/logo/logo2.png" />
        <a href="../sns/main.html" id="header-nav_sns">커뮤니티</a>
        <a href="../store/main.html" id="header-nav_store">스토어</a>
      </div>
      <div class="header_search"></div>
      <div id="header_menu" class="header_menu"></div>
    </header>
    <script src="../../resource/js/component/header.js"></script>
  </body>
</html>
