<nav>
  <ul class="sns-nav">
    <li id="sns-navlist_main">
      <a href="../sns/main.html" id="sns-nav_main">홈</a>
    </li>
    <li id="sns-navlist_photo">
      <a href="../sns/photo.html" id="sns-nav_photo">사진</a>
    </li>
    <li id="sns-navlist_knowhow">
      <a href="../sns/knowhow.html" id="sns-nav_knowhow">노하우</a>
    </li>
    <li id="sns-navlist_review">
      <a href="../sns/review.html" id="sns-nav_review">상품리뷰</a>
    </li>
    <li id="sns-navlist_bbs">
      <a href="../sns/bbs.html" id="sns-nav_bbs">이야기</a>
    </li>
  </ul>
</nav>
<script src="../../resource/js/component/nav.js"></script>
